#wiadomosc {
	grid-column: 1/3;
	grid-row: 4/5;
	width: 94vw;
	height: 98vh;
	background-image: linear-gradient(80deg, rgba(34, 0, 52, 0.93), rgba(0, 0, 0, 0.49));
	background-size: 110% 100%;
	z-index: 10;
	min-height: 110vh;
	-webkit-box-shadow: -2px -7px 29px 2px rgba(56, 25, 56, 0.89);
	box-shadow: -2px -7px 29px 2px rgba(56, 25, 56, 0.9);

	margin-left: auto;
	margin-right: auto;

	border-radius: 2rem 10rem 2rem 10rem;
}

#wiadomosc hgroup {
	position: relative;
	width: 80vw;
	margin-left: 0.5rem;
	color: snow;
	z-index: 10;
}

#wiadomosc h2 {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	padding-bottom: 0.6rem;
	border-bottom: 1px solid snow;
}

#profile {
	width: 70vw;
	position: relative;
	top: 3.2rem;
	margin-left: auto;
	margin-right: 0.5rem;

	z-index: 10;
}

#face {
	display: inline-block;
	margin-left: 2rem;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	width: 56px;
	height: 56px;
	text-align: center;
}

#face .fab {
	color: rgba(26, 255, 7, 0.7);
}

#face .fab:hover {
	color: rgb(166, 235, 159);
}

#link {
	display: inline-block;
	margin-left: 2rem;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	width: 56px;
	height: 56px;
	text-align: center;

}

#link .fab {
	color: rgba(26, 255, 7, 0.7);
}

#link .fab:hover {
	color: rgb(166, 235, 159);
}

#yt {
	display: inline-block;
	margin-left: 2rem;
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	width: 66px;
	height: 56px;
	text-align: center;
}

#yt .fab {
	color: rgba(26, 255, 7, 0.7);
}

#yt .fab:hover {
	color: rgb(166, 235, 159);
}

#info {
	position: relative;
	top: 10rem;
	width: 86vw;
	margin-top: 0.3rem;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}

#info #mess {
	width: 100%;
	height: 25vh;
	padding: 0.5rem;
	margin-bottom: 0.1rem;
	background: linear-gradient(55deg, rgba(44, 22, 93, 0.92), rgba(144, 50, 147, 0.7), rgba(46, 80, 201, 0.76), rgba(58, 164, 229, 0.85));
	background-size: 250% 150%;
	border-radius: 1rem 1rem 0 0;
	border: none;
	color: rgba(26, 255, 7, 0.9);
}

#info input[type=fname],
[type=email] {
	width: 50%;
	height: 1rem;
	padding: 1rem;
	float: left;
	border: none;
	background: linear-gradient(35deg, rgba(44, 22, 93, 0.92), rgba(144, 50, 147, 0.7));
	color: rgba(26, 255, 7, 0.9);
	border-radius: 0 0 0 0;
}

#email {
	margin-top: 0.2rem;
	border-radius: 0 0 0 1rem !important;
}

input[type=submit] {
	float: right;
	width: 40%;
	height: 2rem;
	border: none;
	background: linear-gradient(35deg, rgba(44, 22, 93, 0.92), rgba(144, 50, 147, 0.7));
	color: snow;
}

#submit {
	position: relative;
	width: 48%;
	height: 4.2rem;
	border-radius: 0 0 1rem 0;
	border: none;
	z-index: 10;
	cursor: pointer;
}

button[type=reset] {
	position: relative;
	top: 5vh;
	left: 35vw;
	width: 4rem;
	border: none;
	padding: 0.25rem;
	border-radius: 0 0.5rem;
	color: rgba(26, 255, 7, 0.9);
	background: linear-gradient(35deg, rgba(44, 22, 93, 0.92), rgba(144, 50, 147, 0.7));

	-webkit-box-shadow: -2px -7px 29px 2px rgba(56, 25, 56, 0.89);
	box-shadow: -2px -7px 29px 2px rgba(56, 25, 56, 0.9);
	z-index: 5;
	cursor: pointer;
}


/* ========== Responsywnosc =======*/
@media all and (max-width: 410px) {

	#wiadomosc h5 {
		font-size: 12px;
	}

	#wiadomosc [class *="fab"] {
		font-size: 45px !important;
	}

	#profile [class *="fab"] {
		font-size: 35px !important;
	}

	#face {
		margin-left: 4rem;
		width: 36px;
		height: 36px;
	}

	#link {
		margin-left: 0.5rem;
		width: 36px;
		height: 36px;

	}

	#yt {
		margin-left: 0.5rem;
		width: 36px;
		height: 36px;
	}

	#info {
		top: 6rem;
		margin-top: 0.2rem;
	}

	#info #mess {
		width: 100%;
		height: 20vh;
		padding: 0.4rem;
		margin-bottom: 0.1rem;
	}

	button[type=reset] {
		top: 2vh;
	}

}

@media all and (max-width: 350px) {

	#wiadomosc h5 {
		font-size: 10px;
	}

	#wiadomosc [class *="fab"] {
		font-size: 40px !important;
	}

	#profile [class *="fab"] {
		font-size: 30px !important;
	}

	#face {
		margin-left: 4rem;
		width: 36px;
		height: 36px;
	}

	#link {
		margin-left: 0.5rem;
		width: 36px;
		height: 36px;

	}

	#yt {
		margin-left: 0.5rem;
		width: 36px;
		height: 36px;
	}

	#info {
		top: 6rem;
		margin-top: 0.2rem;
	}

	#info #mess {
		width: 100%;
		height: 20vh;
		padding: 0.4rem;
		margin-bottom: 0.1rem;
	}

	button[type=reset] {
		top: 1vh;
	}
}


@media all and (min-width: 800px) and (max-width: 1199px) {
	#wiadomosc {
		width: 68vw;
		height: 95vh;
		min-height: 95vh;
	}

	#wiadomosc hgroup {
		width: 50vw;
		margin-left: 1.5rem;
	}

	#wiadomosc h2 {
		margin-top: 1.8rem;
		margin-bottom: 1.8rem;
		padding-bottom: 1.6rem;
	}

	#profile {
		width: 40vw;
		top: 4.2rem;
		margin-right: 0.25rem;
	}


	#info {
		top: 10rem;
		width: 62vw;
		margin-top: 1.3rem;
	}


	#info input[type=fname],
	[type=email] {
		width: 45%;
	}

	#email {
		margin-top: 0.4rem;
	}

	#submit {
		width: 50%;
		height: 4.6rem;
	}

	button[type=reset] {
		top: 3vh;
		left: 25vw;
		padding: 0.35rem;
	}

}


@media all and (min-width: 1200px) and (max-width: 1599px) {
	#wiadomosc {
		width: 55vw;
		height: 90vh;
		min-height: 90vh;
	}

	#wiadomosc hgroup {
		width: 45vw;
		margin-left: 1.5rem;
	}

	#profile {
		width: 30vw;
		top: 4.6rem;
		margin-right: 0.2rem;
	}


	#info {
		top: 10rem;
		width: 45vw;
		margin-top: 1.3rem;
	}

	button[type=reset] {
		top: 2vh;
		left: 20vw;
	}
}

@media all and (min-width: 1600px) {

	#wiadomosc {
		width: 50vw;
		height: 80vh;
		min-height: 80vh;
	}

	#wiadomosc hgroup {
		width: 45vw;
		margin-left: 1.5rem;
	}

	#profile {
		width: 20vw;
		top: 4.6rem;
		margin-right: 0.2rem;
	}

	#info {
		top: 8rem;
		width: 40vw;
		margin-top: 1.3rem;
	}

	button[type=reset] {
		top: 2vh;
		left: 18vw;
	}
}
